// Navigation code here

.navigation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 10rem;
    .gradient-background-mixin;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 35%;
}